@font-face {
  font-family: "Bebas-Neue";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Bebas-Neue.eot);
  src: url(../font/Bebas-Neue.otf), url(../font/Bebas-Neue.ttf); }

@font-face {
  font-family: "Socialico";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Socialico.eot);
  src: url(../font/Socialico.otf), url(../font/Socialico.ttf); }

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%; }

.callig {
  font-family: 'Calligraffitti', cursive; }

.fullscreen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

header {
  position: fixed;
  width: 100%;
  top: -9em;
  text-align: center;
  transition: all 0.4s; }
  header:hover {
    top: -7em; }
  header::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0,1);
    -webkit-transform: skew(0deg, 5deg);
    -moz-transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
    left: 0; }
  header::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0,1);
    -webkit-transform: skew(0deg, -5deg);
    -moz-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    right: 0; }
  header nav ul {
    margin: 0;
    list-style: none;
    font-weight: bold;
    padding-bottom: 1em; }
    header nav ul li {
      display: inline-block;
      padding: 0 10px; }
      header nav ul li a {
        text-decoration: none;
        color: #fff; }
  header #logo {
    background-color: #000000;
    position: relative;
    width: 15%;
    height: 100px;
    text-align: center;
    min-width: 10px;
    max-width: 100%;
    left: 43%;
    top: 140px;
    z-index: 5px;
    border-radius: 5em 0em; }
    header #logo img {
      margin-top: -20px;
      width: 100px; }

.slider_container {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0;
  z-index: -2;
  background-color: #000; }
  .slider_container .slideContainer {
    white-space: nowrap;
    height: 100%; }
    .slider_container .slideContainer .slide {
      display: inline-block;
      background-color: white;
      margin-right: -4px;
      vertical-align: top;
      background-size: 100%;
      background-position: bottom; }
